body
{
background:url('image/splash.png');
background-size:100%;
background-repeat:no-repeat;
background-color:beige;
		
}
.titre
{
color:black;
font-size:45px;
text-align:center	
}

.text
{
color:black;
font-size:25px;
text-align:center	
}

.page
{
color:red;
font-size:10px;
text-align:center
}

.download
{
color:red;
font-size:30px;
text-align:center	
}
.image
{

text-align:center	
}
.image1
{

text-align:left	
}
