body
{
background:url('image/logokodi.gif');
background-size:100%;
background-repeat:no-repeat;
background-color:beige;		
}
.titre
{
color:gold;
font-size:50px;
text-align:center	
}

.text
{
color:gold;
font-size:30px;
text-align:center	
}

.page
{
color:red;
font-size:30px;
text-align:center
}

.download
{
color:red;
font-size:30px;
text-align:center	
}
.image
{

text-align:center	
}
.image1
{

text-align:left	
}